anyio==3.5.0; python_version >= "3.7" and python_full_version >= "3.6.2"
asgiref==3.5.0; python_version >= "3.7"
click==8.0.4; python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0" and platform_system == "Windows"
fastapi==0.75.0; python_full_version >= "3.6.1"
h11==0.13.0; python_version >= "3.7"
httptools==0.4.0; python_version >= "3.7" and python_full_version >= "3.5.0"
idna==3.3; python_version >= "3.7" and python_full_version >= "3.6.2"
importlib-metadata==4.2.0; python_version < "3.8" and python_version >= "3.7"
jinja2==3.1.0; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
pydantic==1.9.0; python_full_version >= "3.6.1"
python-dotenv==0.20.0; python_version >= "3.7"
pyyaml==6.0; python_version >= "3.7"
sniffio==1.2.0; python_version >= "3.7" and python_full_version >= "3.6.2"
starlette==0.19.0; python_version >= "3.6" and python_full_version >= "3.6.1"
typing-extensions==4.1.1; python_version < "3.8" and python_version >= "3.7" and python_full_version >= "3.6.2"
uvicorn==0.17.6; python_version >= "3.7"
uvloop==0.16.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.7"
watchgod==0.8; python_version >= "3.7"
websockets==10.2; python_version >= "3.7"
zipp==3.7.0; python_version < "3.8" and python_version >= "3.7"
